/* header */
header {
    position: fixed;
    z-index: 1;
    width: 100%;
    background: var(--white);
}

.header_box {
    max-width: 144rem;
    margin: 0 auto;
    padding: 1.6rem;
}

.flex_nav,
.nav_item {
    display: flex;
    align-items: center;
    gap: 3.6rem;
}

.secondary_mobile_button {
    width: 100%;
}

.nav_item {
    gap: normal;
}

.nav_item img:first-child {
    width: 2.8rem;
    height: 2.8rem;
}

.nav_item img:last-child {
    width: 7.2rem;
}

.h_research_side {
    position: relative;
    display: none;
    align-items: center;

    background: var(--light-gray);
    border-radius: 2rem;
    max-width: 27rem;
}

.h_input {
    font-family: var(--raleway);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6rem;

    background: none;
    outline: none;
    border: none;
    padding: 1.2rem 1.6rem;
    width: 100%;

}

.h_searchIcon {
    padding: .8rem 1.6rem;
    cursor: pointer;
}

/* main */
.hero_box {
    position: relative;
    width: 100%;
    padding-top: 7.4rem;
}

.hero_box img {
    width: 100%;
    filter: grayscale(50%);
    transition: .3s;
}

.hero_box:hover img {
    filter: grayscale(0);
}

.hero_content {
    display: flex;
    flex-direction: column;
    gap: .8rem;

    position: absolute;
    bottom: 1.6rem;
    left: 1.6rem;
}

.hero_title,
.hero_subtitle {
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--white);
}

.hero_subtitle {
    font-size: 1.4rem;
    font-weight: 600;
}

.hero_content button {
    width: max-content;
}

/* category */
.flex-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.6rem;
}

.category_title,
.everything_span {
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--dark-gray);
}

.everything_span {
    display: flex;
    align-items: center;
    gap: .4rem;
    font-size: 1.4rem;
    color: var(--blue);

    cursor: pointer;
}

.everything_span::after {
    display: block;
    content: '';

    background-image: url(../img/icons/arrow-right.svg);
    background-position: center;

    width: 1.6rem;
    height: 1.6rem;
}

/* cards */
.article_box {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    padding-bottom: 1.6rem;
}

.cards_section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    gap: 1.6rem;
}

.card_item {
    width: max-content;
}

#card_title,
#card_value,
#card_viewMore {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--dark-gray);
}

#card_value {
    font-size: 1.6rem;
    font-weight: 800;
}

#card_viewMore {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--blue);
}

.card_text_content {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    padding-top: .8rem;
}

/* FAQ */
.faq_box {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1.6rem;
    background: var(--light-blue);
}

.faq_logo_wrapper {
    display: flex;
    align-items: center;
}

/* footer */