/* default import */
@import './reset.css';
@import './components.css';


/* default presets */
* {
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --white: #FFFFFF;
    --black: #000000;
    --light-blue: #EAF2FD;
    --light-blue-200: #D4E4FA;
    --blue: #2A7AE4;
    --light-gray: #F5F5F5;
    --dark-gray: #464646;
    --placeholder: #A2A2A2;
    --border: #C8C8C8;
    --raleway: 'Raleway', sans-serif;
}

body {
    font-size: 1.6rem;
    font-family: var(--raleway);
    background: var(--light-gray);
}

/* limiter */
.main_global_box {
    max-width: 144rem;
    padding: 3.2rem;
    margin: 0 auto;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: .4rem;
    background: var(--light-blue-200);
}

::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: .4rem;
}